# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Gg]en/

Messages.Designer.cs
Resources/Microsoft.PackageManagement.NuGetProvider.Resources.Messages.resx

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio solution
*.suo

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# solution file:
*.sln

# Untracked files:
intermediate/*
output/*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
35MSSharedLib1024.snk

# NuGet packaging
nuget.exe
*.nupkg
*.nuspec_template
/.vs/*
