version: 1.0.{build}
os:
- WMF 5
configuration: Release
platform: Any CPU
clone_folder: c:\projects\NuGetTest\NuGetProvider

# Install Pester
init: 
    - cinst -y pester

install:

- git clone --branch=master https://github.com/OneGet/oneget.git c:\projects\NuGetTest\OneGet
- ps: $psversiontable
- reg ADD "HKLM\Software\Microsoft\StrongName\Verification\Microsoft.PackageManagement.NuGetProvider,31bf3856ad364e35"  /f
- reg ADD "HKLM\Software\Wow6432Node\Microsoft\StrongName\Verification\Microsoft.PackageManagement.NuGetProvider,31bf3856ad364e35"  /f


build:
  verbosity: normal
after_build:
- ps: >-
    Get-ChildItem "C:\output\release\bin" -Recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name -DeploymentName releasebits -Type Auto }

before_test:
- ps: >-   
    # Import the Nuget provider just built
    Import-PackageProvider C:\output\release\bin\Microsoft.PackageManagement.NuGetProvider.dll -force -verbose
    
   
    & "c:\projects\NuGetTest\NuGetProvider\smoketest.tests.ps1"
